.card{

  &-category{
    height: 250px;
    background-color: #000;
    color: #333;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;

    &-image{
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      transition: opacity 0.3s ease-in-out;
      border-radius: inherit;

    }

    .card-category-name{
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      color: #fff;
    }

    &.no-image{
      .card-category-image{
        background-color: #888;
      }
      .card-category-name{
        opacity: 1;
      }
    }

    &:hover{
      text-decoration: none;
      box-shadow: 4px 4px 7px #999;
      .card-category-image{
        opacity: 0.4;
      }
      .card-category-name{
        opacity: 1;
      }
    }
  }

  &-product{
    max-width: 250px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;

    &-title{
      font-size: 0.8rem;
      line-height: 1.5;
      height: 39px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      color: #333;
    }
    &-price{
      font-size: 0.8rem;
      color: #bf0f2c;
    }

    &:hover{
      transform: scale(1.05);
      text-decoration: none;
      box-shadow: 4px 4px 7px #999;
    }
  }
}
