.link{
  color: #fff;
  &-arrow{
    @include fontSize(16px);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-color: $purple;
    margin-right: getRem(22px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }
  &-text{
    @include fontSize(13px);
    letter-spacing: 1.04px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &:hover{
    .link-arrow{
      background-color: #fff;
      color: #000;
    }
    text-decoration: none;
    color: #fff;
  }
}
