.navbar{
  padding: getRem(46px) 0;
  &-brand{
    @include fontSize(19px);
    text-transform: uppercase;
    color: $black;
    font-weight: 600;
    padding: 0;
  }

  &-search{
    @media (max-width: 500px){

      input{
        max-width: 120px;
      }

      input,
      button{
        font-size: 0.7rem;
      }

    }
  }

  &-brand{
    @media (max-width: 767px){
      font-size: 0.9rem;
    }
  }

  .nav-facebook{
    color: #3B5998 !important;
  }
  .nav-instagram{
    color: #DD2A7B !important;
  }
  .nav-youtube{
    color: #C4302b !important;
  }
  .nav-pinterest{
    color: #C8232C !important;
  }

  .nav-item{
    margin-right: getRem(20px);

    &:first-child{
      margin-right: getRem(60px);
    }

    &-icon{
      margin-left: getRem(15px);
    }

    &:last-child{
      margin-right: 0;
    }

    .nav-link{
      @include fontSize(14px);
      color: $black;
      &.dropdown-toggle{
        font-weight: 600;
      }
      &-icon{
        font-size: getRem(24px);
        padding: 0;
        position: relative;
        top: -2px;
      }
    }
  }


  &-dark .navbar-nav .nav-link{
    color: #fff;
  }
}
