.tax-card{
  border-radius: 0;
  height: 327px;
  padding-top: getRem(122px);
  position: relative;
  background-color: #000;
  padding-left: getRem(100px);

  &-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    opacity: 0.6;
  }

  &-body{
    position: relative;
    z-index: 1;
  }

  h3{
    @include fontSize(25px);
    color: #fff;
    margin-bottom: getRem(40px);
  }


}
