body{
  font-family: $font-family-sans-serif;
}

.sidebar{
  position: fixed;
  width: 250px;
  height: 100vh;
  left: 0;
}

.logged{
  .main{
    margin-left: 250px;
  }
}

.font-weight-semibold{
  font-weight: 600;
}

.top-0{
  top: 0;
}

.bottom-0{
  bottom: 0;
}

.left-0{
  left: 0;
}

.right-0{
  right: 0;
}

.z-index-10{
  z-index: 10;
}

.m-6{
  margin: 4rem !important;
}
.ml-6{
  margin-left: 4rem !important;
}
.mr-6{
  margin-right: 4rem !important;
}
.mt-6{
  margin-top: 4rem !important;
}
.mb-6{
  margin-bottom: 4rem !important;
}

.p-6{
  padding: 4rem !important;
}
.pl-6{
  padding-left: 4rem !important;
}
.pr-6{
  padding-right: 4rem !important;
}
.pt-6{
  padding-top: 4rem !important;
}
.pb-6{
  padding-bottom: 4rem !important;
}

// TRANSITIONS
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
