@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import '~bootstrap/scss/bootstrap';
// Variables
@import 'variables';

@import 'front/card';
@import 'front/navbar';

// Bootstrap


.c-red{
  color: $red;
}

.ellipsis-2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 767px){
  body{
    text-align: center;
  }
}
