@import 'mixins';
// Variables
@import 'variables';
@import '~bootstrap/scss/bootstrap';

@import 'fontello';

@import 'front/modules/card';
@import 'front/modules/navbar';
@import 'front/modules/link';
@import 'front/modules/btn';
@import 'front/modules/taxCard';
@import 'front/modules/_tax2';

@import 'front/layouts/home';

@import 'custom/custom';
// Bootstrap

body,a,p,div{
  font-family: $font-family-sans-serif;
}

.c-red{
  color: $red;
}

.ellipsis-2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 767px){
  body{
    text-align: center;
  }
}

.checkout-products-list{
  max-height: 310px;
  overflow: auto;
}

.container{
  max-width: 1327px;
  @media (max-width: 1366px){
    max-width: 1140px;
  }
}
