.navbar{

  @media (max-width: 767px){
    padding: 0 0.5rem;
  }

  &-search{
    @media (max-width: 500px){

      input{
        max-width: 120px;
      }

      input,
      button{
        font-size: 0.7rem;
      }

    }
  }

  &-brand{
    @media (max-width: 767px){
      font-size: 0.9rem;
    }
  }

  .nav-facebook{
    color: #3B5998 !important;
  }
  .nav-instagram{
    color: #DD2A7B !important;
  }
  .nav-youtube{
    color: #C4302b !important;
  }
  .nav-pinterest{
    color: #C8232C !important;
  }

  .nav-link{
    font-size: 0.85rem;
    &.nav-link-social{
      font-size: 1.1rem;
      position: relative;
      top: -2px;
    }
  }

  &-dark .navbar-nav .nav-link{
    color: #fff;
  }
}
