// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$black: #000000;
$white: #ffffff;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #432dff;
$pink: #f66d9b;
$red: #ff1a1a;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$gray-f8: #f8f8f8;
$gray-ee: #eeeeee;
$gray-de: #dedede;
$gray-ce: #cecece;
$gray-b2: #b2b2b2;
$gray-a3: #a3a3a3;
$gray-80: #808080;

$theme-colors: (
  "primary": $red,
  "secondary": $purple,
  "gray": $gray-ce,
  "dark": $black
);
